@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    background: linear-gradient(150.076deg, #f9fafb 0%, #d2d6db 100%);
  }
}
